{% extends "layout.html" %}

{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block navbar_right %}
  {{ parent() }}
  <p class="navbar-text" id="user-info"></p>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  {# use script tag to pass data from server into client (JavaScript) #}
  <script>
    var opentokConfig = {
      apiKey : '{{ apiKey|e }}',
      presenceSessionId : '{{ sessionId|e }}',
      presenceToken : '{{ token|e }}'
    };
  </script>
  {# enable logging during development #}
  <script>
    log.setLevel('info');
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
  <script src="/js/models/User.js"></script>
  <script src="/js/views/ConnectModalView.js"></script>
  <script src="/js/views/UserInfoView.js"></script>
  <script src="/js/app.js"></script>
{% endblock %}

{% block content %}

<div class="row invitation-info">
</div>

{# Connect Modal (initially hidden) #}
<div class="modal fade" id="connect-modal" tabindex="-1" role="dialog" aria-labelledby="connect-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="connect-modal-label">Connect to Join</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="connect-form">
          <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" name="user[name]" placeholder="Enter a name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="connect-btn" data-loading-text="Connecting..." class="btn btn-primary">Connect</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {# User List Placeholder #}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Buddies</h3>
      </div>
      <div class="list-group" id="user-list">
      </div>
    </div>
  </div>

  {# Chat Placehoder #}
  <div class="col-sm-8">
    <div class="panel panel-default chat-panel" >
    </div>
  </div>
</div>

{# User List template #}
<script type="text/template" id="tpl-user-list">
  <% if (_.size(users) > 0) { %>
    <% _.forEach(users, function(user, connectionId) { %>
      <div class="list-group-item buddy">
        <% if (user.status === 'online') { %>
          <button type="button" class="btn btn-default pull-right invite-button" data-connection-id="<%- connectionId %>">
            <span class="glyphicon glyphicon-facetime-video"></span>
          </button>
        <% } %>
        <p class="list-group-item-text buddy-name"><%- user.name %></p>
      </div>
    <% }); %>
  <% } else { %>
      <div class="list-group-item">
        <p class="list-group-item-text">No Buddies</p>
      </div>
  <% } %>
</script>

{# User Info template #}
<script type="text/template" id="tpl-user-info">
  <% if (connected) { %>
    Connected as <strong><%- name %></strong>
  <% } else { %>
    Not Connected
  <% } %>
</script>

{# Send invitation template #}
<script type="text/template" id="tpl-send-invite">
  <div class="alert alert-info" role="alert">
    <p class="pull-right"><button type="button" class="btn btn-danger invite-cancel">Cancel</button></p>
    <p class="invite-message">Waiting for <strong><%- invitee.name %></strong> to accept your chat invitation</p>
  </div>
</script>

{# Receive invitation template #}
<script type="text/template" id="tpl-receive-invite">
  <div class="alert alert-info" role="alert" data-chat-session-id="<%- chat.chatSessionId %>">
    <p class="pull-right"><button type="button" class="btn btn-danger invite-decline">Decline</button> <button type="button" class="btn btn-success invite-accept">Accept</button></p>
    <p class="invite-message"><strong><%- chat.inviter.name %></strong> has invited you to a chat</p>
  </div>
</script>

{# Chat Panel template #}
{# 'chatting', 'subscriberName' #}
<script type="text/template" id="tpl-chat-panel">
  <% if (chatting) { %>
    <div class="panel-heading">
      <h3 class="panel-title">Chat with <%- subscriberName %></h3>
    </div>
    <div class="panel-body video-holder">
      <div class="subscriber"></div>
      <div class="publisher"></div>
    </div>
  <% } else { %>
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body video-holder empty">
      <p>Not chatting currently</p>
    </div>
  <% } %>
</script>

{% endblock %}
