{% extends "layout.html" %}

{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block navbar_right %}
  {{ parent() }}
  <p class="navbar-text" id="user-info">Not Connected</p>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  {# use script tag to pass data from server into client (JavaScript) #}
  <script>
    var opentokConfig = {
      apiKey : '{{ apiKey|e }}',
      presenceSessionId : '{{ sessionId|e }}',
      presenceToken : '{{ token|e }}'
    };
  </script>
  {# enable logging during development #}
  <script>
    log.setLevel('info');
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
  <script src="/js/index.js"></script>
{% endblock %}

{% block content %}

{# Connect Modal (initially hidden) #}
<div class="modal fade" id="connect-modal" tabindex="-1" role="dialog" aria-labelledby="connect-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="connect-modal-label">Connect to Join</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="connect-form">
          <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="connect-form-username" placeholder="Enter a name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="connect-form-btn" data-loading-text="Connecting..." class="btn btn-primary">Connect</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {# User List Placeholder #}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Buddies</h3>
      </div>
      <div class="list-group" id="user-list">
      </div>
    </div>
  </div>
</div>

{# User List Template #}
<script type="text/template" id="tpl-user-list">
  <% if (_.size(users) > 0) { %>
    <% _.forEach(users, function(user, connectionId) { %>
      <div class="list-group-item buddy" data-connection-id="<%- connectionId %>">
        <button type="button" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-facetime-video"></span>
        </button>
        <p class="list-group-item-text buddy-name"><%- user.name %></p>
      </div>
    <% }); %>
  <% } else { %>
      <div class="list-group-item">
        <p class="list-group-item-text">No Buddies</p>
      </div>
  <% } %>
</script>

{# User info template #}
<script type="text/template" id="tpl-user-info">
  <% if (user.connected) { %>
    Connected as <%- user.name %>
  <% } else { %>
    Not Connected
  <% } %>
</script>

{% endblock %}
