<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BuddyTok</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>
<body class="container">

    {% block content %}
    {% endblock %}

    {% block scripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/loglevel/0.6.0/loglevel.min.js"></script>
      <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
