<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BuddyTok</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>
<body class="container">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BuddyTok</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <div class="navbar-right">
            {% block navbar_right %}
              <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
              </ul>
            {% endblock %}
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block scripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/loglevel/0.6.0/loglevel.min.js"></script>
      <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
