<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BuddyTok</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
</body>
</html>
